.divider {
    height:50px;
}

section {
    height:500px;
    padding-top:50px;
    padding-bottom:50px;
    overflow:auto;
}

.bg-1 {
	background-image: url(/img/chico_mendes.jpg);
    background-repeat: no-repeat;
    background-position:  center top;
    background-attachment:  fixed;
    color:#fff;
    background-size:cover;
}

.bg-2 {
	background: url(/img/remanco_das_aguas.jpg) ;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    color:#fff;
    background-size:cover;
}

.bg-3 {
	background-image: url(/img/dorothy_stang.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    color:#fff;
    background-size:cover;
}

.bg-4 {
	background-image: url(/img/parque_santa_clara.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    color:#fff;
    background-size:cover;
}

#footer {
    height: 60px;
    background-color:#585858;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
}

#footer a {
  color:#efefef;
}

